---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Everything public is crawlable, the blog included. Only the CMS is kept out.
User-agent: *
Allow: /
Disallow: /admin/

Sitemap: {{ site.url }}/sitemap.xml
