---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/early-access.html</loc></url>
  <url><loc>{{ site.url }}/privacy.html</loc></url>
  <url><loc>{{ site.url }}/terms.html</loc></url>
  <url><loc>{{ site.url }}/blog/</loc>{% if collections.posts.length %}<lastmod>{{ (collections.posts[0].data.updated or collections.posts[0].date) | isoDate }}</lastmod>{% endif %}</url>
{%- for c in collections.activeCategories %}
  <url><loc>{{ site.url }}/blog/category/{{ c.slug }}/</loc><lastmod>{{ c.posts[0].date | isoDate }}</lastmod></url>
{%- endfor %}
{%- for post in collections.posts %}
  {%- if not post.data.seo.noindex and not post.data.seo.canonical %}
  <url><loc>{{ site.url }}{{ post.url }}</loc><lastmod>{{ (post.data.updated or post.date) | isoDate }}</lastmod></url>
  {%- endif %}
{%- endfor %}
</urlset>
